<!DOCTYPE html>
<html>

<head>
    <time>About Me</time>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='me.jpg') }}" alt="A picture of me"
            style="width: 110px; border-radius: 40%;">
        <h1>About This Site</h1>
        <p>Author: Nathaniel Cassian Xavier</p>
        <p>Studying at: UTAR</p>
        <p>Course: Foundation In Technology Science</p>
        <p>This is my Website</p>
        <a href="/">Back to Home</a>

    </div>
</body>

</html>